body
{
    font-family: Montserrat;
}

#menu_bar_div
{
    display: flex;
    width: auto;
    height: 50px;
}

#content_banner_strip
{
    background-color: #0a9396;
    padding: 20px 0px;
    text-align: center;
}

#content_banner_title_div
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_banner_title
{
    margin: 0%;
    font-weight: 600;
    /*font-size: 35pt;*/
    font-stretch: expanded;
}

#content_banner_subtitle_div
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_banner_subtitle
{
    margin: 0%;
    /*font-size: 20pt;*/
}

#main_div
{
    background-color: #0a9396;
    border-radius: 10px;
    padding: 10px;

}

#title_div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_submit_div
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    
}

#input
{
    width: 60%;
}

#submit_btn_div
{
    padding: 5px;
    background-color: aliceblue;
    margin-left: 10px;
    border-radius: 10px;
}

#submit_btn_div:hover
{
    background-color: #e2e9f0; 
    cursor: pointer;  
}