body
{
    font-family: Montserrat;
}

#menu_bar_div
{
    display: flex;
    width: auto;
    height: 50px;
}

#content_banner_strip
{
    background-color: #0a9396;
    padding: 20px 0px;
    text-align: center;
}

#content_banner_title_div
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_banner_title
{
    margin: 0%;
    font-weight: 600;
    /*font-size: 35pt;*/
    font-stretch: expanded;
}

#content_banner_subtitle_div
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_banner_subtitle
{
    margin: 0%;
    /*font-size: 20pt;*/
}

#advice_main_textbox_div
{
    margin-bottom: 30px;
}

#advice_main_div
{
    
}

#advice_textbox_div
{
    

}

#advice_textbox
{
    background-color: #0b1f27;
    border-radius: 10px;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#advice_text
{
    color: #ffffff;
    margin: 20px 10px;
    font-size: 40pt;
}

#click_for_advice_button_div
{
    width: auto;
}

#advice_button
{
    background-color: #ee9b00;
    border-radius: 10px;
    padding: 15px 20px;
}

#advice_button:hover
{
    background-color: #da8d00;
    cursor: pointer;
}

#advice_button_text
{
    margin: 0%;
    text-align: center;
    font-size: 30pt;
}